---
import Layout from "../layouts/Main.astro";
---

<Layout title="about">
    <article class="flex flex-col gap-4 sm:w-1/3 mx-6 sm:mx-auto min-h-screen">
        <section set:html={globalThis.profileData.about} />
        <section class="flex justify-center gap-4">
            {
                globalThis.profileData.contacts.map((contact) => (
                    <a
                        href={
                            (contact.name === "email" ? "mailto:" : "") +
                            contact.value
                        }
                        target="_blank"
                        rel="noopener noreferrer"
                    >
                        <img
                            src={`/icons/${contact.icon}.svg`}
                            alt={contact.name}
                            class="text-primary"
                        />
                    </a>
                ))
            }
        </section>
        <hr class="mx-12 my-4 border-primary" />
        <section>
            <form class="flex flex-col gap-4">
                <label for="message">
                    <p class="text-sm">message</p>
                    <textarea
                        required
                        class="w-full bg-transparent border-2 border-primary rounded px-1 h-40 text-stone-700"
                    ></textarea>
                </label>
                <button
                    id="submit"
                    class="relative bg-primary text-white rounded py-3 text-lg flex justify-center gap-2"
                >
                    send anonymously
                    <svg
                        width="24"
                        height="24"
                        viewBox="0 0 24 24"
                        fill="none"
                        xmlns="http://www.w3.org/2000/svg"
                    >
                        <path
                            d="M22 2L11 13"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                        <path
                            d="M22 2L15 22L11 13L2 9L22 2Z"
                            stroke="white"
                            stroke-width="2"
                            stroke-linecap="round"
                            stroke-linejoin="round"></path>
                    </svg>
                </button>
            </form>
        </section>
    </article>
    <script>
        import { Notyf } from 'notyf'
        import 'notyf/notyf.min.css';

        const form = document.querySelector("form");
        const notyf = new Notyf();

        const apiUrl = import.meta.env.PUBLIC_ANON_MESSAGE_API_URL;

        form.addEventListener("submit", (e) => {
            e.preventDefault();
            const message = form.querySelector("textarea").value;

            fetch(apiUrl, {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify({
                    message
                }),
            })
            .then((res) => {
                if (res.ok) {
                    notyf.success("message sent successfully!");
                    form.reset();
                } else {
                    notyf.error("message failed to send!");
                }
            })
            .catch((err) => console.error(err));
        });
    </script>
</Layout>
