---
import Layout from '../layouts/Main.astro'

const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

---

<Layout title="experience">
    <article class="relative flex flex-col gap-20 sm:gap-18 sm:w-1/3 mx-6 sm:mx-auto min-h-screen pt-6 z-0">
        {
            globalThis.profileData.experiences.map((experience, index) => (
                <section class="relative grid grid-cols-2 grid-rows-1">
                    <p class={`pt-2 row-start-1 text-center ${index % 2 ? 'col-start-2' : 'col-start-1'}`}>
                        {
                            months[new Date(experience.date_of_joining).getMonth()]}&nbsp;{new Date(experience.date_of_joining).getFullYear()
                        }
                    </p>
                    <div class={index % 2 ? 'col-start-1 text-right pr-4' : 'pl-6'}>
                        <h2 class="text-xl font-bold">{experience.title}</h2>
                        <h3 class="font-semibold">{experience.company}</h3>
                        <div class={`flex flex-wrap gap-x-1 ${index % 2 ? 'justify-end' : ''}`}>
                            {
                                experience.skills.map(skill => (
                                    <img src={`/icons/${skill}.svg`} class="w-10 h-10 sm:w-12 sm:h-12" alt={skill} />
                                ))
                            }
                        </div>
                    </div>
                    <div class="absolute bg-primary top-0 left-1/2 mt-2 w-5 h-5 rounded-full -translate-x-1/2" /> 
                </section>
            ))
        }
        <div class="absolute bg-primary top-0 left-1/2 w-1 h-full -translate-x-1/2" />
    </article>
</Layout>
