---
import type { NavLinks } from "../pages/index.astro";
import Link from "./Link.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;

const navDropDownMenuLinks: Array<NavLinks & {key: string}> = [
    {
        text: 'HIRE ME!',
        href: '/hire-me',
        openInNewTab: true,
        key: 'hire me'
    },
    {
        text: 'EXPERIENCE',
        href: '/experience',
        key: 'experience'
    },
    {
        text: 'MY WORK',
        href: '/my-work',
        key: 'my work'
    },
    {
        text: 'CONTACT ME',
        href: '/contact-me',
        key: 'contact me'
    }
]

---

<div class="woverflow-hidden">
  <div class="flex justify-between px-4 py-6 items-center">
    <Link href="/" variant="text">
      <svg
        width="45"
        height="45"
        viewBox="0 0 45 45"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <path
          d="M22.5 3C22.1079 3.00003 21.7314 3.15356 21.4512 3.42773L5.08887 16.8105C5.06997 16.8248 5.05141 16.8394 5.0332 16.8545L4.97754 16.9014V16.9043C4.82709 17.0445 4.70707 17.214 4.62492 17.4025C4.54277 17.591 4.50025 17.7944 4.5 18C4.5 18.3978 4.65804 18.7794 4.93934 19.0607C5.22064 19.342 5.60218 19.5 6 19.5H7.5V36C7.5 37.6575 8.8425 39 10.5 39H34.5C36.1575 39 37.5 37.6575 37.5 36V19.5H39C39.3978 19.5 39.7794 19.342 40.0607 19.0607C40.342 18.7794 40.5 18.3978 40.5 18C40.5002 17.7939 40.4578 17.59 40.3757 17.4009C40.2935 17.2119 40.1733 17.0419 40.0225 16.9014L39.999 16.8838C39.9661 16.854 39.9319 16.8256 39.8965 16.7988L37.5 14.8389V9C37.5 8.172 36.828 7.5 36 7.5H34.5C33.672 7.5 33 8.172 33 9V11.1592L23.5166 3.40137C23.2403 3.14449 22.8773 3.00118 22.5 3ZM27 22.5H33V34.5H27V22.5Z"
          fill="currentColor"></path>
      </svg>
    </Link>

    <span class="font-extrabold">{title}</span>

    <button id="hamburgerMenu" class="w-10 h-3 flex items-center">
      <svg
        width="39"
        height="24"
        viewBox="0 0 39 24"
        fill="currentColor"
        xmlns="http://www.w3.org/2000/svg"
      >
        <rect width="39" height="3" rx="1.5"></rect>
        <rect y="10" width="39" height="3" rx="1.5"></rect>
        <rect y="21" width="39" height="3" rx="1.5"></rect>
      </svg>
    </button>
  </div>

  <nav
    class="absolute w-full overflow-x-hidden top-23 pointer-events-none"
  >
    <ul
        class="flex flex-col transition-transform duration-300 ease-in-out pointer-events-auto"
        style={{
          transform: "translateX(100%)",
        }}
    >
      {
        navDropDownMenuLinks.map((link) => (
          <li class={`bg-primary text-center py-4 ${title === link.key ? 'text-white border border-y-1': 'text-white/50'}`}>
            <Link tabIndex={-1} href={link.href} variant="text" openInNewTab={link.openInNewTab}>{link.text}</Link>
        </li>
        ))
      }
    </ul>
  </nav>

  <script>
    let isHamMenuOpen = false;
    const button = document.getElementById("hamburgerMenu");
    const navUl = document.querySelector<HTMLUListElement>("nav > ul");
    const navLinks = document.querySelectorAll<HTMLAnchorElement>("nav > ul > li > a");

    button.addEventListener("click", () => {
      isHamMenuOpen = !isHamMenuOpen;

      if (isHamMenuOpen) {
        navUl.style.transform = "translateX(0)";
        navLinks.forEach((link) => {
          link.tabIndex = 0;
        });
        button.innerHTML = `
          <svg width="45" height="45" viewBox="0 0 45 45" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <rect x="9.12134" y="8" width="39" height="3" rx="1.5" transform="rotate(45 9.12134 8)" fill="#5B98F4"/>
              <rect x="7" y="36" width="39" height="3" rx="1.5" transform="rotate(-45 7 36)" fill="#5B98F4"/>
          </svg>
      `;
      } else {
        navUl.style.transform = "translateX(100%)";
        navLinks.forEach((link) => {
          link.tabIndex = -1;
        });
        button.innerHTML = `
          <svg width="39" height="24" viewBox="0 0 39 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <rect width="39" height="3" rx="1.5"/>
              <rect y="10" width="39" height="3" rx="1.5"/>
              <rect y="21" width="39" height="3" rx="1.5"/>
          </svg>
      `;
      }
    });
  </script>
</div>
