---
export type Props = {
    href: string,
    variant?: 'contained' | 'outlined' | 'text',
    openInNewTab?: boolean,
    tabIndex?: number
}
const { href, variant = 'text', openInNewTab = false, tabIndex = 0 } = Astro.props

const classes = {
    contained: 'rounded bg-primary text-white px-4 py-3',
    outlined: 'rounded border border-primary px-4 py-3',
    text: '',
}
---

<a
    href={ href }
    target={ openInNewTab ? '_blank' : '' }
    class={`
        relative
        ${variant != 'text' ? 'hover:ring-2 hover:ring-primary' : ''}
        ${classes[variant]}
        ${openInNewTab ? 'flex items-center justify-center' : ''}
    `}
    tabindex={ tabIndex }
>
    <slot />
    {
        openInNewTab && (
            <svg
                class="absolute top-1/2 right-4 transform -translate-y-1/2 w-5 h-5"
                viewBox="0 0 24 24"
                xmlns="http://www.w3.org/2000/svg"
            >
                <path
                    d="M20.7844 2.39218C20.7546 2.39312 20.7248 2.39573 20.6953 2.39999H16C15.894 2.39849 15.7888 2.41808 15.6904 2.45761C15.592 2.49714 15.5025 2.55583 15.427 2.63026C15.3515 2.7047 15.2915 2.7934 15.2506 2.8912C15.2097 2.98901 15.1886 3.09397 15.1886 3.19999C15.1886 3.30601 15.2097 3.41097 15.2506 3.50878C15.2915 3.60659 15.3515 3.69528 15.427 3.76972C15.5025 3.84416 15.592 3.90284 15.6904 3.94237C15.7888 3.98191 15.894 4.00149 16 3.99999H18.8688L10.6344 12.2344C10.5576 12.3081 10.4963 12.3964 10.4541 12.4941C10.4119 12.5918 10.3895 12.6969 10.3885 12.8034C10.3874 12.9098 10.4075 13.0154 10.4478 13.1139C10.488 13.2125 10.5475 13.302 10.6228 13.3772C10.698 13.4525 10.7875 13.512 10.8861 13.5522C10.9846 13.5925 11.0902 13.6126 11.1966 13.6115C11.3031 13.6105 11.4082 13.5882 11.5059 13.5459C11.6036 13.5037 11.6919 13.4424 11.7656 13.3656L20 5.13124V7.99999C19.9985 8.106 20.0181 8.21125 20.0576 8.30963C20.0972 8.408 20.1558 8.49754 20.2303 8.57303C20.3047 8.64853 20.3934 8.70848 20.4912 8.7494C20.589 8.79031 20.694 8.81139 20.8 8.81139C20.906 8.81139 21.011 8.79031 21.1088 8.7494C21.2066 8.70848 21.2953 8.64853 21.3697 8.57303C21.4442 8.49754 21.5029 8.408 21.5424 8.30963C21.5819 8.21125 21.6015 8.106 21.6 7.99999V3.30155C21.6159 3.18637 21.6066 3.06911 21.5726 2.95791C21.5386 2.84672 21.4807 2.74428 21.4031 2.65772C21.3255 2.57116 21.2299 2.50256 21.123 2.4567C21.0162 2.41084 20.9006 2.38882 20.7844 2.39218ZM4.80001 5.59999C3.92556 5.59999 3.20001 6.32554 3.20001 7.19999V19.2C3.20001 20.0744 3.92556 20.8 4.80001 20.8H16.8C17.6745 20.8 18.4 20.0744 18.4 19.2V11.2V9.13749L16.8 10.7375V12.8V19.2H4.80001V7.19999H11.2H12.8H13.2625L14.8625 5.59999H12.8H11.2H4.80001Z"
                    fill="currentColor"
                ></path>
            </svg>
        )
    }
</a>